@import "tailwindcss";

/* =========================
   GLOBAL
========================= */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;

  font-family:
    Inter,
    system-ui,
    sans-serif;

  color: #111827;

  background-image: url("/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* =========================
   OVERLAY
========================= */

body::before {
  content: "";

  position: fixed;
  inset: 0;

  background:
    rgba(248, 250, 252, 0.82);

  backdrop-filter: blur(1px);

  z-index: -1;
}

/* =========================
   SCROLLBAR
========================= */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #e5e7eb;
}

::-webkit-scrollbar-thumb {
  background: #f59e0b;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d97706;
}

/* =========================
   SELECTION
========================= */

::selection {
  background: #facc15;
  color: #111827;
}